.enlaces-footer a{
    margin-top: 5px;
    color: #757575 ;
    text-decoration: none;
    margin-left: 20px;
    height: 20px;
}
.enlaces-footer{
    display: flex;
    flex-direction: column;
}
.enlaces-footer h1{
    color: #757575;
    font-size: 35px;
    margin-bottom: 0px;
}

.enlaces-footer a:hover{
    color:  orange;
}